#header {
    .category {
        margin-top: -2rem;

        @media (max-width: 576px) { 
            width: auto !important;
            margin-left: 1rem !important;
            margin-right: 1rem !important;
            // background-color: red !important;
         }
    }
}