@mixin network($color) {

    background-color: $color;
        border-radius: 10px;

        &:hover {
            background-color: lighten($color, 10%);
        }

}

.network {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        
        .whatsapp {
            text-transform: uppercase;
            @include network(#25D366);
            
        }

        .telegram {
            @include network(#30AAE9);
        }

        .facebook {
            @include network(#4A68A8);
        }

        .twitter {
            @include network(#1DA1F2);
        }
        

        li {
            display: flex;
            list-style-type: none;
            margin-left: 20px;
            
            &:first-child {
                margin-left: 0;
            }
        
            a {
                padding: 5px 10px;
                border-radius: 10px;
                color: white;
                text-decoration: none;
                
                
            }
        }
    }  
}