#content {

    margin: 0 !important;

    a {
        text-decoration: none;
    }

    .post {

        img {
            border-radius: 10px;
            transition: all ease-out 0.3s;
            border: 3px solid transparent;
            // border-color: ;
        }

        &:hover {
            img {
                
                border: solid 3px #ED686B;
            }
        }
    }
}