

$seox-default: (
    "seox-white": #fff,
    "seox-black": #000,
    "seox-black-20": #222
);

$seox-reds: (
  "seox-red-100": #F6D0D1,
  "seox-red-300": #ED686B,
  "seox-red-500": #EC1C24,  
  "seox-red-700": #9A0000,  
  "seox-red-900": #68181E
);

$seox-grays: (
  "seox-gray-100": #fafafa,
  "seox-gray-300": #E9E9E9,
  "seox-gray-500": #A8A8A8,
  "seox-gray-700": #707070,
  "seox-gray-800": #333333,
  "seox-gray-900": #222222  
);




.section {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.title-post {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

.content-post {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.excerpt-post {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.feed-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
}

.feed-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.feed-3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.feed-4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.hat {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}



$all-colors: map-merge-multiple($seox-reds, $seox-grays, $seox-default);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);


@import "bootstrap/scss/utilities/api";